In [1]:
import numpy as np
import pandas as pd

In [12]:
df1 = pd.read_csv('data1.csv', encoding='EUC-KR')
df2 = pd.read_csv('data2.csv', encoding='euc-kr')
df3 = pd.read_csv('data3.csv', encoding='euc-kr')

print(df.shape)
df1.head(10)

(4624144, 19)

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2019,1,104243474,2,12,46,20191104,3,5,M751,M750,1,1,0.25,19240,9600,9640,0,20201222
1,2019,1,107479370,2,12,46,20190806,3,1,E1164,N308,1,1,0.25,145680,72800,72880,0,20201222
2,2019,1,106881883,2,12,46,20190920,3,1,N308,E1164,1,1,0.25,13240,6600,6640,3,20201222
3,2019,1,109043837,2,12,46,20190807,2,1,E1164,N308,7,21,0.25,861590,205810,655780,0,20201222
4,2019,1,103174392,2,12,46,20190318,3,13,H6531,J303,1,1,0.15,48440,14500,33940,3,20201222
5,2019,1,104243492,2,12,46,20191106,3,5,M751,M750,1,1,0.25,27890,13900,13990,7,20201222
6,2019,1,104243480,2,12,46,20191114,3,5,M751,M750,1,1,0.25,12330,6100,6230,0,20201222
7,2019,1,104243484,2,12,46,20191107,3,5,M751,M750,1,1,0.25,12330,6100,6230,0,20201222
8,2019,1,103488853,2,12,46,20191227,3,5,M751,M750,1,1,0.25,21890,10900,10990,0,20201222
9,2019,1,103488860,2,12,46,20191204,3,5,M751,M750,1,1,0.25,12330,6100,6230,0,20201222

In [11]:
df2.head(10)

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2019,350001,112542274,1,11,27,20190411,3,5,M770,S5341,1,1,0.15,61560,18400,43160,4,20201222
1,2019,350001,112277264,1,11,27,20190429,3,1,B_,I109,1,1,0.25,13300,6600,6700,70,20201222
2,2019,350001,101021011,1,11,27,20190211,3,1,B_,I109,1,1,0.25,13300,6600,6700,60,20201222
3,2019,350001,105191293,1,11,27,20191004,3,1,B_,I109,1,1,0.25,13300,6600,6700,70,20201222
4,2019,350001,106198670,1,11,27,20191129,3,13,J060,J303,1,1,0.15,21520,6400,15120,3,20201222
5,2019,350001,108643970,1,11,27,20190722,3,1,B_,I109,1,1,0.25,87610,43800,43810,70,20201222
6,2019,350001,108640844,1,11,27,20190723,3,1,B_,I109,1,1,0.25,79730,39800,39930,0,20201222
7,2019,350001,103614976,1,11,27,20191217,3,1,B_,I109,1,1,0.25,13300,6600,6700,60,20201222
8,2019,350002,101145352,2,12,41,20190221,3,23,J303,J040,1,1,0.15,17620,5200,12420,3,20201222
9,2019,350002,104250853,2,12,41,20191104,3,5,S22430,S2020,1,1,0.15,131660,39400,92260,3,20201222

In [14]:
df3.head(10)

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2019,700001,112108688,2,5,41,20190417,3,1,J209,J459,1,1,0.15,13180,3900,9280,2,20201222
1,2019,700001,112108689,2,5,41,20190415,3,1,J209,J459,1,1,0.15,79300,23700,55600,3,20201222
2,2019,700001,112108685,2,5,41,20190420,3,1,J209,J459,1,1,0.15,15630,4600,11030,3,20201222
3,2019,700002,107875218,2,4,41,20190923,3,4,J40,J0300,1,1,0.15,13390,4000,9390,2,20201222
4,2019,700002,113129387,2,4,41,20190404,3,4,K580,K291,1,1,0.15,11210,3300,7910,2,20201222
5,2019,700002,107914066,2,4,41,20190829,3,4,K580,K291,1,1,0.15,15690,4700,10990,2,20201222
6,2019,700002,102752628,2,4,41,20190315,3,4,J0300,M7920,1,1,0.15,13380,4000,9380,2,20201222
7,2019,700002,105981913,2,4,41,20191211,3,4,K580,K291,1,1,0.15,13280,3900,9380,2,20201222
8,2019,700002,112678847,2,4,41,20190423,3,4,J0300,M7920,1,1,0.15,13380,4000,9380,0,20201222
9,2019,700002,106175017,2,4,41,20191121,3,4,J40,J0300,1,1,0.15,13380,4000,9380,2,20201222

In [15]:
df1.columns

Index(['기준년도', '가입자 일련번호', '진료내역일련번호', '성별코드', '연령대코드', '시도코드', '요양개시일자',
       '서식코드', '진료과목코드', '주상병코드', '부상병코드', '요양일수', '입내원일수', '심결가산율',
       '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수', '데이터 기준일자'],
      dtype='object')

#### 기본 정보 
- 성별코드
- 연령대코드
- 시도코드 

#### 질병관련 
- 주상병코드 : 내원 또는 입원을 하게된 주요 원인, 질병 
- 부상병코드 : 주요원인 이외의 질병, ex) 발열 
- 진료과목코드 

#### 진료비
- 가산율 : 진료비 가산율이란 의료기관 종류별로 시설·인력·장비·서비스 수준의 차이로 인해 처치·검사·치료 등의 비용차이가 발생하기 때문에, 의료기관 종류별로 진료비 등 의료서비스 비용에 일정률을 더하는 것을 말합니다. 
- 심결 요양 급여비용 총액 
- 심결 본인부담금

#### 기타
- 입내원일수 
- 요양일수 : 내원일수에 원내 투약일수를 포함한 일수. 단, 내원과 투약이 중복된 날은 1일로 산정. 약국 처방건의 요양일수는 투약일수를 의미함
- 총 처방일수
- 서식코드 : 요양급여비용심사(의료보호)청구서 및 명세서의 의과입원, 의과외래, 치과입원, 치과외래, 조산원 입원 등을 구분하는 코드